{% extends 'base.html' %}
{% block title %}Kategori{% endblock %}
{% block content %}
{% if tab != 'tambah_akun' %}
    {% if edit_akun %}
        <h3>Edit akun {{ edit_akun.nama_akun }}</h3>
        <form action="{{ url_for('akun_tabungan.update', id=edit_akun.id) }}" method='POST'>
            <table border="1" cellpadding="5" cellspacing="0">
                <tbody>
                    <tr>
                        <td>
                            Nama Akun:
                        </td>
                        <td>
                            <input type="text" name="input_nama_akun_baru" value="{{ edit_akun.nama_akun }}" required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Total:
                        </td>
                        <td>
                            <input type="number" name="input_total_akun_baru" value="{{ edit_akun.total }}" required>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <a href="{{ url_for('akun_tabungan.akun_tabungan') }}">Batal</a>
                            <button type="submit">Edit</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p>{{ message }}</p>
        </form>
    {% elif transfer_akun %}
        <h3>Transfer Akun</h3>
        <form action="/transfer_akun/{{ transfer_akun.id }}" method='POST'>
            <table border="1" cellpadding="5" cellspacing="0">
                <tr>
                    <td>
                        Dari akun: 
                    </td>
                    <td>
                        {{ transfer_akun.nama_akun }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Kirim ke:
                    </td>
                    <td>
                        <select name="target_transfer" required>
                            <option value="">Pilih Tujuan Transfer</option>
                            {% for p in data_akun_tabungan %}
                                {% if p.nama_akun != transfer_akun.nama_akun %}
                                <option value="{{ p.nama_akun }}">{{ p.nama_akun }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        Sejumlah: 
                    </td>
                    <td>Rp
                        <input type="number" name="input_total_transfer" min="1" step="1" required>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <a href="{{ url_for('akun_tabungan.akun_tabungan') }}">Batal</a>
                        <button type="submit">Transfer</button>
                    </td>
                </tr>
            </table>
            <br>
        </form>
    {% endif %}
{% endif %}
<br>
<table border="1" cellpadding="5" cellspacing="0">
    <thead>
        <tr>
            <th>Nama Akun</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        {% for p in data_akun_tabungan %}
            <td>
                {{ p.nama_akun }}
            </td>
            <td>
                Rp {{ "{:,.2f}".format(p.total) }}
            </td>
            <td>
                <a href="/transfer_akun_form/{{ p.id }}">Transfer</a>
                <a href="/edit_akun/{{ p.id }}">Edit</a>
                <form action="/hapus_akun/{{ p.id }}" method="POST" style="display:inline;" onsubmit="return confirm('Hapus data?')">
                    <button type="submit">Hapus</button>
                </form>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="3">
                <a href="{{ url_for('akun_tabungan.akun_tabungan', tab='tambah_akun') }}">Tambah akun tabungan</a>
            </td>
        </tr>
    </tbody>
</table>
{% if tab == 'tambah_akun' %}
<form action="{{ url_for('akun_tabungan.tambah_akun', tab='') }}" method='POST'>
    <table border="1" cellpadding="5" cellspacing="0">
        <tbody>
            <tr>
                <td>
                    Nama Akun:
                </td>
                <td>
                    <input type="text" name="input_nama_akun" required>
                </td>
            </tr>
            <tr>
                <td>
                    Jumlah Awal:
                </td>
                <td>Rp
                    <input type="number" name="input_total" required>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button><a href="{{ url_for('akun_tabungan.akun_tabungan', tab='') }}">Batal</a></button>
                    <button type="submit">Tambah Akun</button>
                </td>
            </tr>
        </tbody>
    </table>
    <p>{{ message }}</p>
</form>
{% endif %}
{% endblock %}