{% extends 'base.html' %}
{% block title %}Kategori{% endblock %}
{% block content %}
<table width="100%">
    <tbody>
        <tr>
            <td colspan="2">
                <img src="{{ chart_garis }}" width="100%">
            </td>
        </tr>
        <tr>
            <td>
                <img src="{{ chart_batang_pengeluaran }}" width="100%">
            </td>
            <td>
                <img src="{{ chart_batang_pemasukan }}" width="100%">
            </td>
        </tr>
        <tr>
            <td>
                <img src="{{ chart_pie_pengeluaran }}" width="100%">
            </td>
            <td>
                <img src="{{ chart_pie_pemasukan }}" width="100%">
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}